.content {
    margin: auto;
    width: 600px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.user-info__name {
    font-size: 32px;
    font-weight: 900;
}
.user-info__img {
    width: 346px;
    height: 346px;
}
.user-info__title {
    font-size: 17px;
    font-weight: 700;
}
.user-info__item {
    font-size: 16px;
    font-weight: 700;
}
.actions{
    
   display:flex;
   gap:40px;
}
.actions__btn {   
    border-radius: 25px;
    background-color:white!important
}


